branch/2.0.0/xml/MoReq2/MoReq2-Class.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.dlm-network.org/moreq2/1.04.01" xmlns:moreq2="http://www.dlm-network.org/moreq2/1.04.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.04.01">
	<!-- Declaration of schemas which are referenced from this schema -->
	<xs:include schemaLocation="MoReq2-Class_Stub.xsd"/>
	<xs:include schemaLocation="MoReq2-File.xsd"/>
	<xs:include schemaLocation="MoReq2-File_Stub.xsd"/>
	<xs:include schemaLocation="MoReq2-Record.xsd"/>
	<xs:include schemaLocation="MoReq2-Record_Stub.xsd"/>
	<xs:element name="Class">
		<xs:annotation>
			<xs:documentation>A Classification.  A Class entity contains metadata plus the option of "Classes", "Files" or "Records" and relevant stubs.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="abstract" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A textual description of the entity and its relevant content.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M047</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Keyword(s) assigned to the entity to aid in discovering it.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M004</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="classification">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="classification_code">
											<xs:annotation>
												<xs:documentation>The classification code of the entity, unique within its parent.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M011</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="fully_qualified_classification_code">
											<xs:annotation>
												<xs:documentation>The hierarchical identifier of the entity, unique within the ERMS.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M012</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="new_fully_qualified_classification_code" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The fully qualified classification code of a copy of the entity after its relocation.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M158</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="place" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="current_location" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The current physical location of a physical entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M086</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="home_location" type="xs:string" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>The home location of a physical entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M122</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="title">
								<xs:annotation>
									<xs:documentation>The name given to the entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M003</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Event_history">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="abstract" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="reclassification_reason" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The reason for the reclassification of an entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M021</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="review_action_reason" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The reason for the decision taken during review.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M054</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="date">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="closed" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date the entity was closed.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M051</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="created" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>The date the entity was created.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M048</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="moved_from_location" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date the physical entity was moved from a previous location.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M095</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="opened" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>The date the entity was opened.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M050</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="received_at_location" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date the physical entity was received at the current location.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M096</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="relocated" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date on which the entity was relocated.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M159</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="reviewed" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date the review took place.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M055</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="disposal_hold" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Details of the disposal hold(s) that have been applied.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="agent_applied">
											<xs:annotation>
												<xs:documentation>System identifier of the user who applied the disposal hold.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M035</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="agent_lifted" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>System identifier of the user who lifted the disposal hold.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M134</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="date_applied" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>The date the disposal hold was applied to the entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M034</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="date_lifted" type="xs:dateTime" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The date the disposal hold was lifted from the entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M102</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="reason_applied">
											<xs:annotation>
												<xs:documentation>The reason why a disposal hold was applied.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M135</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="reason_lifted" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The reason why a disposal hold was lifted.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M136</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Event_plan">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="abstract" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="review_date" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The disposition date decided by a reviewer during a review.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M138</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="review_action" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The disposition action decided by a reviewer during a review.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M053</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="DESTROY"/>
													<xs:enumeration value="TRANSFER"/>
													<xs:enumeration value="REVIEW"/>
													<xs:enumeration value="RETAIN"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="status">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="permanent" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Indicates whether an entity needs to be retained permanently.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M031</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Identity">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="system_identifier">
								<xs:annotation>
									<xs:documentation>The system identifier for an entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M020</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Relation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="agent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="movement" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>System identifier of the person who was responsible for executing the movement of a physical entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M097</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="owner" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>System identifier of the owner of the entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M002</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="entity_agent" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Identifier(s) of the Entity/Agent(s) that describe some agent's (agents') access permissions to the entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M172</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="cross_referenced_to" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The fully qualified classification code of another entity that is related to the subject entity by a cross reference.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M023</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="disposal_hold" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>System identifier of a disposal hold applied to the entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M032</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="is_child_of">
								<xs:annotation>
									<xs:documentation>The fully qualified classification code of the parent entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M057</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="is_parent_of" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The fully qualified classification code of a child entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M056</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="previous_fully_qualified_classification_code" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The previous fully qualified classification code(s) of the entity following reclassification(s).</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M091</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="retention_and_disposition_schedule" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>System identifier of a retention and disposition schedule(s) assigned to the entity.</xs:documentation>
									<xs:appinfo>
										<MetadataRef>M025</MetadataRef>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Use">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="status">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="active" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>The status of the class or file; whether it is in active use or not.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M019</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="offline_download" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates whether the entity is downloaded for offline use.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M124</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="physical" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Indicates whether the entity is a physical container.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M084</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="technical_environment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="format" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The format for the physical entity.</xs:documentation>
												<xs:appinfo>
													<MetadataRef>M092</MetadataRef>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Custom" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Any additional metadata that isn't included elsewhere in this entity.  This section will allow the MoReq2 schema to be extended without making the resulting XML invalid against the MoReq2 Schema.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any processContents="skip" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0">
					<xs:element name="Classes">
						<xs:annotation>
							<xs:documentation>This element has been included to group individual classes together  It is not defined in the MoReq2 metadata model.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="moreq2:Class" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="moreq2:Class_Stub" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Files">
						<xs:annotation>
							<xs:documentation>This element has been included to group individual files together  It is not defined in the MoReq2 metadata model.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="moreq2:File" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="moreq2:File_Stub" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Records">
						<xs:annotation>
							<xs:documentation>This element has been included to group individual records together  It is not defined in the MoReq2 metadata model.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="moreq2:Record" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="moreq2:Record_Stub" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="moreq2:Record_Redaction" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<!-- This is a choice of child entity, there can also be no child entity -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
